In [1]:
# Print numbers from 1 to 10 using a for loop.
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [2]:
# Print numbers from 10 to 1 using a for loop.
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [3]:
# Print even numbers between 1 and 50.
for i in range(1,51):
    if i%2 == 0:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [4]:
# Print odd numbers between 1 and 50.
for i in range(1,51):
    if i%2 == 1:
        print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [5]:
# Print the squares of numbers from 1 to 10.
for i in range(1,11):
    print(i*i,end=" ")

1 4 9 16 25 36 49 64 81 100

In [6]:
# Print the cubes of numbers from 1 to 10.
for i in range(1,11):
    print(i ** 3,end=" ")

1 8 27 64 125 216 343 512 729 1000

In [7]:
# Print the multiplication table of 5.
for i in range(1,11):
    print(5*i,end = " ")

5 10 15 20 25 30 35 40 45 50

In [8]:
# Print the multiplication table of a user-input number
num = int(input("Enter the number : "))
for i in range(1,11):
    print(num*i,end=" ")

Enter the number :  5

5 10 15 20 25 30 35 40 45 50

In [10]:
# Print numbers from 1 to 100 that are multiples of 3.
for i in range(1,101):
    if i%3 == 0:
        print(i,end =" ")

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [11]:
# Print numbers from 1 to 100 that are multiples of 5.
for i in range(1,101):
    if i%5 == 0:
        print(i,end =" ")

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

In [13]:
# Find the sum of numbers from 1 to 100.
Sum = 0
for i in range(1,101):
    Sum+=i
print(Sum)

5050

In [14]:
# Find the sum of even numbers from 1 to 100.
Sum = 0
for i in range(1,101):
    if i%2 == 0:
        Sum+=i
print(Sum)

2550

In [16]:
# find the sum of odd numbers from 1 to 100.
Sum = 0
for i in range(1,101):
    if i%2 == 1:
        Sum+=i
print(Sum)

2500

In [19]:
# Calculate the factorial of a given number.
num = 6
fact = 1
for i in range(1,num+1):
    fact*=i
print(fact)

720

In [20]:
# Find the sum of squares of the first 10 natural numbers.
Sum = 0
for i in range(1,11):
    Sum+= i*i
print(Sum)

385

In [21]:
# Find the sum of cubes of the first 10 natural numbers.
Sum = 0
for i in range(1,11):
    Sum+= i ** 3
print(Sum)

3025

In [23]:
# Count the number of digits in a given number.
num = 15345
temp = num
count = 0
while(temp > 0):
    temp = temp // 10
    count+=1
print(count)

5

In [25]:
# Find the sum of digits of a given number.
num = 1534
temp = num
Sum = 0
while(temp > 0):
    digit = temp % 10
    Sum+= digit
    temp = temp // 10
print(Sum)

13

In [27]:
# Find the product of digits of a number.
num = 1534
temp = num
prod = 1
while(temp > 0):
    digit = temp % 10
    prod*= digit
    temp = temp // 10
print(prod)

60

In [29]:
# Reverse a given number using a for loop.
num = 1534
temp = num
rev = 0
for i in range(len(str(num))):
    digit = temp % 10
    rev = rev*10 + digit
    temp = temp // 10
print(rev)

4351

In [30]:
# Print a right-angled triangle pattern of *.
for i in range(1,4):
    print(i * '*')

*
**
***

In [33]:
# Print an inverted right-angled triangle of *.
for i in range(3,0,-1):
    print(i * '*')

***
**
*

In [40]:
# Print a square pattern of * of size n.
for i in range(4):
    for j in range(4):
        print('*',end = "")
    print()

****
****
****
****

In [41]:
# Print each character of a string using a for loop.
String = "abcde"
for i in String:
    print(i)

a
b
c
d
e

In [44]:
# Count vowels in a string using a loop.
String = "abcdeSjfres"
count = 0
for i in String:
    if  i in "aeiouAEIOU":
        count+=1
print(count)

3

In [45]:
# Count consonants in a string.
String = "abcdeSjfres"
count = 0
for i in String:
    if  i not in "aeiouAEIOU":
        count+=1
print(count)

8

In [47]:
# Reverse a string using a loop.
String = "abcdeSjfres"
rev = ""
for ch in String:
    rev = ch + rev
print(rev)

serfjSedcba

In [51]:
# Count words in a sentence using a loop.
String = "hello my name is Suyog"
count = 1   # start with 1 word

for i in String:
    if i == " ":   # whenever space found â†’ new word
        count += 1

print(count)

5

In [53]:
# Iterate through a list and print elements.
List = [1,2,3,4,5]
for i in List:
    print(i,end=" ")

1 2 3 4 5

In [54]:
# Find the maximum element in a list using a loop.
List = [1,2,3,6,-7,4,5]
max_element = max(List)
print(max_element)

6

In [58]:
# # Find the maximum element in a list using a loop.
List = [1,2,3,6,-7,4,5]
max_ele = float('-inf')
for i in List:
    if i > max_ele:
        max_ele = i
print(max_ele)

6

In [61]:
# Find the minimum element in a list using a loop.
List = [1,2,3,-1,4,5,-2]
min_ele = List[0]
for i in List:
    if i < min_ele:
        min_ele = i
print(min_ele)

-2

In [63]:
# Count the frequency of each element in a list.
List = [1,2,1,3,1,4,5,2,4]
freq = {}
for ch in List:
    if ch in freq:
        freq[ch]+=1
    else:
        freq[ch] = 1
print(freq)

{1: 3, 2: 2, 3: 1, 4: 2, 5: 1}

In [64]:
# Count uppercase and lowercase letters in a string.
String = "Hello Suyog, Welcome To Python!"
Upper = 0
Lower = 0
for ch in String:
    if ch.isupper():
        Upper+=1
    elif ch.islower():
        Lower+=1
print(Upper)
print(Lower)

5
20

In [67]:
# Check if a number is prime using a for loop
num = 37
flag = True
for i in range(2,37):
    if num%i == 0:
        flag = False
        break
if flag:
    print("prime")
else:
    print("not prime")

prime

In [69]:
# Find the first n prime numbers using a loop.
n = int(input("Enter how many prime numbers you want: "))

count = 0
num = 2

while count < n:
    is_prime = True
    for i in range(2, int(num**0.5) + 1):  # range() checks divisibility
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, end=" ")
        count += 1
    num += 1

Enter how many prime numbers you want:  5

2 3 5 7 11

In [70]:
# Print all palindrome numbers between 1 and 500
for i in range(1, 501):
    num = i       # keep original number
    rev = 0
    temp = num

    while temp > 0:
        digit = temp % 10
        rev = rev * 10 + digit
        temp //= 10

    if rev == num:
        print(num, end=" ")

1 2 3 4 5 6 7 8 9 11 22 33 44 55 66 77 88 99 101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494

In [72]:
# Print all Armstrong numbers between 1 and 500.
for i in range(1,501):
    num = i
    Sum = 0
    while num>0:
        digit = num%10
        Sum+=digit ** 3
        num = num // 10
    if Sum == i:
        print(i,end=" ")

1 153 370 371 407

In [77]:
# Print a pyramid pattern with *
for i in range(1,7):
    for j in range(1,7):
        print(j *'*')
    print()

*
**
***
****
*****
******

*
**
***
****
*****
******

*
**
***
****
*****
******

*
**
***
****
*****
******

*
**
***
****
*****
******

*
**
***
****
*****
******